.section-4 {
  h2 {
    color: $dark-hover;

    @media (max-width: 1000px) {
      padding-left: 0px;
      text-align: center;
    }
    @media (min-width: 1000px) {
      padding-left: 100px;
      text-align: left;
    }
  }
  div {
    display: flex;
    justify-content: center;
    ul {
      display: flex;
      justify-content: center;
      padding: 0;
      flex-wrap: wrap;
      gap: 20px;
      li {
        list-style-type: none;
        img {
          border-radius: 10px;
          width: 200px;
          cursor: pointer;
          &:hover {
            transition: all ease-in-out 0.4s;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
          }
        }
      }

      @media (max-width: 1000px) {
        width: 100%;
      }
      @media (min-width: 1000px) {
        width: 80%;
      }
    }
  }
}
