$primary-bg: #fdfdfd;
$secondary-bg: #69baf0;
$tertiary-bg:#c8c4c4;
$card-bg: #0047d6;
$button-bg: #0099FF;
$button-hover: #0057FF;
$basic: #FAFAFA;
$dark: #000000;
$dark-hover: #454343;
$button-hover-light: #dedddd;